<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/css/bootstrap-grid.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap-reboot.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.css}">
    <link rel="stylesheet" th:href="@{/css/dialog.css}">
    <script th:src="@{/js/jquery.3.2.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.js}"></script>
    <script th:src="@{/js/vue.js}"></script>
    <script th:src="@{/js/qs.js}"></script>
    <script th:src="@{/js/axios.min.js}"></script>
    <script th:src="@{/js/validator.min.js}"></script>
    <!--<script th:src="@{/js/zepto.min.js}"></script>-->
    <script th:src="@{/js/dialog.js}"></script>
    <style>
        body{
            margin-top: 70px;
        }
    </style>
</head>
<body>

<div class="container-fluid" id="orderGoodsInfo">
    <div th:replace="~{common/common :: headNav}"></div>
    <div class="row mt-2 mb-2">
        <div th:replace="~{common/common :: leftNav}"></div>
        <div class="col-lg-10">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <i class="fa fa-search"></i>搜索订单
                </div>
                <div class="col-lg-4 offset-lg-6 col-md-6 offset-md-4 col-sm-6">
                    <button class="btn btn-info" data-toggle="collapse" data-target="#colA" aria-expanded="true">隐藏</button>
                </div>
            </div>
            <div class="row">
                <div id="colA" class="collapse show"  data-parent="#accordion">
                    <form>
                        <div class="form-row ml-2">
                            <div class="form-group row mr-1">
                                <label for="orderGoodsId" class="col-sm-3 col-lg-4 col-form-label">商品订单id</label>
                                <div class="col-sm-9 col-lg-8">
                                    <input v-model="orderGoods.id" id="orderGoodsId" disabled  type="text"  class="form-control"  placeholder="尚未开通">
                                </div>
                            </div>
                            <div class="form-group row mr-1">
                                <label for="orderId" class="col-sm-3 col-form-label">订单号</label>
                                <div class="col-sm-9">
                                    <input v-model="orderGoods.orderid" id="orderId" type="text" class="form-control"  placeholder="请输入订单id">
                                    <input type="hidden" th:value="${orderNum==null?1:orderNum}" id="orderNum">
                                </div>
                            </div>
<!--                            <div class="form-group row mr-1">-->
<!--                                <label for="GoodsId" class="col-sm-3 col-lg-4 col-form-label">商品id</label>-->
<!--                                <div class="col-sm-9 col-lg-8">-->
<!--                                    <input v-model="orderGoods.goodsid" id="GoodsId" disabled type="text" class="form-control"  placeholder="尚未开通">-->
<!--                                </div>-->
<!--                            </div>-->

                            <button @click="search" class="btn btn-info btn-sm mr-2" type="button">查询</button>
                            <button class="btn btn-info btn-sm" type="button">重置</button>

                        </div>
                    </form>

                </div>
            </div>
            <div class="row">
                <table class="table table-hover table-responsive-sm">
                    <thead>
                    <tr>
                        <!--<th>id</th>-->
                        <th>商品订单id</th>
                        <th>订单号</th>
                        <th>商品id</th>
                        <th>数量</th>
                        <th>状态</th>
                        <th>是否是书</th>
                        <th>详情</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="item in info">
                        <td>{{item.goId}}</td>
                        <td>{{item.goOid.orderId}}</td>
                        <td>{{item.goIdAll}}</td>
                        <td>{{item.goCount}}</td>
                        <td>{{item.goState | state}}</td>
                        <td>{{item.goIsBook ===1?'是':'不是'}}</td>
                        <td><button class="btn btn-info" @click="show(item)">详情</button></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">详情</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            <ul class="list-group">
                                <li class="list-group-item">订单号:{{orderInfo.orderNum}}</li>
                                <li class="list-group-item">订单创建时间:{{orderInfo.orderCreationTime}}</li>
                                <li class="list-group-item">订单是否支付:{{orderInfo.orderIsPay===1?'已支付':'未支付'}}</li>
                                <li class="list-group-item">订单是否签收:{{orderInfo.orderReceipt===1?'签收':'未签收'}}</li>
                                <li class="list-group-item">订单收货地址:{{orderInfo.orderAddress}}</li>
                            </ul>

                            <ul class="list-group">
                                <li class="list-group-item">发货状态：{{item.goState | gState}}</li>
                                <li class="list-group-item" v-if="item.goState===-1">未发货原因：{{item.goRes}}</li>

                            </ul>
                            <ul class="list-group" v-if="isBook===1">
                                <li class="list-group-item">书籍id:{{bookInfo.bookId}}</li>
                                <li class="list-group-item">书籍名：{{bookInfo.bookName}}</li>
                                <li class="list-group-item">书籍作者：{{bookInfo.bookAuthor}}</li>
                                <li class="list-group-item">书籍出版商：{{bookInfo.bookPublish}}</li>
                                <li class="list-group-item">书籍ISBN号：{{bookInfo.bookIsbn}}</li>
                            </ul>
                            <ul class="list-group" v-if="isBook===0">
                                <li class="list-group-item">闲置标题:{{goodsInfo.goodsTitle}}</li>
                                <li class="list-group-item">闲置描述:{{goodsInfo.goodsDes}}</li>
                            </ul>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

</body>
<script>
    Vue.filter('state', function (value) {

        try {
            if(value===null||value==='undefined'){

                return '未知';
            }
            let state= parseInt(value)
            switch (state) {
                case 0:
                    return '禁用';
                case 1:
                    return '正常';
                case -1:
                    return '删除';
                default:
                    return '未知';
            }
        }catch (e) {

            return '未知';
        }

    })

    // Vue.filter('gender',function (value) {
    //
    //     try {
    //         let gender= parseInt(value)
    //
    //         switch (gender) {
    //             case 0:
    //                 return '女';
    //             case 1:
    //                 return '男';
    //             default:
    //                 return '未知';
    //         }
    //     }
    //     catch (e) {
    //         return '未知';
    //     }
    // })

    Vue.filter('gState',(value)=>{

        let v= parseInt(value)

        switch (v) {
            case 1:
                return '已发货'
            case 0:
                return '待发货'
            case -1:
                return '取消发货'
            default:
                return '未知'
        }
    })
    let vm = new Vue({
        el:'#orderGoodsInfo',

        created(){

            let orderNumObj = document.querySelector('#orderNum')

            let orderNum= orderNumObj.value

            if(parseInt(orderNum)===1){

                console.log(orderNum)
            }else{

                this.orderGoods.orderid=orderNum
                this.init(orderNum)
                console.log('aaaaa')
            }

        },
        data:{

            orderGoods:{
                id:'',
                goodsid:'',
                orderid:''

            },
            info:[],
            isBook:'',
            goodsInfo:'',
            bookInfo:'',
            orderInfo:'',
            item:''
        },
        methods:{
            search(){

                if(this.orderGoods.orderid===''){

                    alert('订单id不能为空')

                }else{
                    this.init(this.orderGoods.orderid)
                }

            },

            init(orderNum){
                let url = 'http://localhost:8080/GoodsOrder/info/'+orderNum
                axios.get(url).then(res=>{

                    let {code,msg} = res.data;

                    if(code==='-1'){

                        alert(msg)
                    }else{
                        this.info=res.data.info.info;
                        console.log(this.info)
                    }
                }).catch(err=>{

                    alert('服务器错误')

                    console.log(err)
                })

                axios.get(`/order/select/${orderNum}`).then(res=>{

                    console.log('aaaaaaa')

                    console.log(res.data)

                    this.orderInfo=res.data.info.data


                }).catch(err=>{

                    console.log(err)
                })

            },
            show(item){

                console.log(item)

                this.item=item
                let orderNum = item.goOid.orderId

                let goodsid = item.goIdAll

                let isBook = item.goIsBook

                this.isBook=isBook

                if(parseInt(isBook)===1){

                    axios.get(`/book/arg/${goodsid}`).then(res=>{

                        this.bookInfo=res.data.info.data
                    })

                }else{
                    axios.get(`/goods/arg/${goodsid}`).then(res=>{

                        this.goodsInfo=res.data.info.data
                    })
                }

                $('#myModal').modal('show')
            }
        },
        computed:{


        },


    })


</script>

</html>