<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/css/bootstrap-grid.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap-reboot.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.css}">


    <link rel="stylesheet" th:href="@{/css/dialog.css}">
    <script th:src="@{/js/jquery.3.2.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.js}"></script>
    <script th:src="@{/js/vue.js}"></script>
    <script th:src="@{/js/qs.js}"></script>
    <script th:src="@{/js/axios.min.js}"></script>
    <script th:src="@{/js/validator.min.js}"></script>
    <!--<script th:src="@{/js/zepto.min.js}"></script>-->
    <script th:src="@{/js/dialog.js}"></script>
    <style>
        body{
            margin-top: 70px;
            background-color: #b3d7ff;
        }
    </style>
    <script src="../../js/vue.js"></script>
</head>
<body>
    <div class="container-fluid" id="shopcarinfo">
        <div th:replace="~{common/common :: headNav}"></div>
        <div class="row mt-2 mb-2">
            <div th:replace="~{common/common :: leftNav}"></div>
            <div class="col-lg-10">
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-2">
                        <i class="fa fa-user"></i>购物车管理
                    </div>
                    <div class="col-lg-4 offset-lg-6 col-md-6 offset-md-4 col-sm-6">
                        <a href="#" class="btn btn-outline-info">查询</a>
                        <a href="#" class="btn btn-outline-info">新增</a>
                        <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           <i class="fa fa-bars"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item text-info" href="#">导出</a>
                            <a class="dropdown-item text-info" href="#">导入</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>用户id</th>
                                <th>商品id</th>
                                <th>数量</th>
                                <th>状态</th>
                                <th>创建时间</th>
                                <th>更新时间</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(item,index) in r.list" :key="index">
                                <td>{{item.shopCarId}}</td>
                                <td>{{item.shopCarUid}}</td>
                                <td>{{item.shopCarGid}}</td>
                                <td>{{item.shopCarCount}}</td>
                                <td>{{item.shopCarState}}</td>
                                <td>{{item.shopCarCreationTime}}</td>
                                <td>{{item.shopCarUpdateTime}}</td>
                                <td>
                                    <button @click="show(item)" class="btn btn-info">详情</button>
                                    <button  @click.prevent="deleteRole(item.shopCarId)" class="btn btn-danger">删除</button>
<!--                                    <a href="#" class="text-danger" title="删除用户"><i class="fa fa-trash"></i></a>-->
<!--                                    <a @click.prevent="forbidRole(item.shopCarId)" href="#" class="text-danger" title="禁用用户"><i class="fa fa-times-circle"></i></a>-->
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>

                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <!--分页-->
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li v-if="r.hasPreviousPage"  class="page-item">
                                    <a @click.prevent="previous" class="page-link" href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>

                                <li @click="page(n)" v-for="n in r.navigatepageNums" class="page-item"><a class="page-link" href="#">{{n}}</a></li>

                                <li v-if="r.hasNextPage" class="page-item">
                                    <a @click.prevent="next" class="page-link" href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>

                </div>


                <div class="modal fade  bs-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="exampleModalLabel">详情</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>
                            <div class="modal-body">
                                <ul class="list-group">
                                    <li class="list-group-item">用户:{{userInfo.userName}}</li>
                                    <li class="list-group-item">用户电话:{{userInfo.userPhone}}</li>
                                </ul>
                                <ul class="list-group" v-if="OkBook===1">
                                    <li class="list-group-item">书籍名:{{bookInfo.bookName}}</li>
                                    <li class="list-group-item">书籍作者:{{bookInfo.bookAuthor}}</li>
                                </ul>
                                <ul class="list-group" v-if="OkBook===0">
                                    <li class="list-group-item">闲置标题:{{goodsInfo.goodsTitle}}</li>
                                    <li class="list-group-item">闲置描述:{{goodsInfo.goodsDes}}</li>
                                </ul>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script>

    let vm =new Vue({
        el:'#shopcarinfo',
        data:{
            r:{},
            userInfo:'',
            OkBook:'',
            bookInfo:'',
            goodsInfo:''
        },

        created(){

           this.init();


        },

        methods:{

            page(n){
                if(n!==this.r.pageNum){
                    let infoDialog = $.dialog({
                        type : 'info',
                        infoText : '加载中…',
                        infoIcon : '../images/icon/loading.gif'
                    });

                    axios.get(`/shopcar/info/${n}/${this.r.pageSize}`).then(res=>{

                        this.r=res.data.info.data;
                        this.currentPage=n;
                        infoDialog.dialog.update({
                            autoClose : 1500,
                            infoText : '请求成功',
                            infoIcon : '/images/icon/success.png'
                        });

                    }).catch(err=>{
                        infoDialog.dialog.update({
                            autoClose : 1500,
                            infoText : '请求失败',
                            infoIcon : '/images/icon/fail.png'
                        });
                    })

                }

            },
            previous(){
                if( this.r.hasPreviousPage){
                    this.page(this.r.prePage)
                }
            },
            init(){
                axios.baseURL='http://localhost:8080';
                axios.defaults.withCredentials=true;
                axios.get('/shopcar/info/1/2').then(res=>{
                    this.r=res.data.info.data;

                }).catch(err=>{

                    console.log(err)

                })
            },
            next(){
                if( this.r.hasNextPage){
                    this.page(this.r.nextPage)
                }
            },
            checkState(roleId,method){
                let b=this.r.list.filter((item,index)=>item.shopCarId===roleId)[0];
                // let infoDialog = $.dialog({
                //     type : 'info',
                //     infoText : '加载中…',
                //     infoIcon : '/images/icon/loading.gif'
                // });
                axios.get(`/shopcar/${method}/${b.shopCarId}/`).then(res=>{
                    let message=res.data.message;
                    if(res.data.code==='1'){
                        // if(method==='forbid'){
                        //     b.shopCarState= 0;
                        // }else if (method==='delete') {
                        //     b.shopCarState=-1;
                        // }else{
                        //     b.shopCarState=1;
                        // }
                        // infoDialog.dialog.update({
                        //     autoClose : 1500,
                        //     infoText : message,
                        //     infoIcon : '/images/icon/success.png'
                        // });
                        alert(message)

                        this.redo()

                    }else{
                        // infoDialog.dialog.update({
                        //     autoClose : 1500,
                        //     infoText : message,
                        //     infoIcon : '/images/icon/fail.png'
                        // });

                        alert(message)
                    }
                }).catch(err=>{
                    // infoDialog.dialog.update({
                    //     autoClose : 1500,
                    //     infoText : message,
                    //     infoIcon : '/images/icon/fail.png'
                    // });

                    alert("服务器错误")
                })
            },
            forbidRole(shopCarId){
                alert("没有开通")
                //this.checkState(shopCarId,'forbid');
            },
            deleteRole(shopCarId){
                this.checkState(shopCarId,'delete');

                this.init()
            },
            show(item){

                let {shopCarUid,shopCarGid,shopCarOkBook} = item

                this.OkBook =shopCarOkBook
                this.userInfo=item.shUser

                if(shopCarOkBook===1){
                    axios.get(`/book/arg/${shopCarGid}`).then(res=>{
                        this.bookInfo=res.data.info.data
                        console.log(res.data)
                    }).catch(err=>{

                        console.log(err)
                    })

                }else{
                    axios.get(`/goods/arg/${shopCarGid}`).then(res=>{

                        this.goodsInfo=res.data.info.data

                    }).catch(err=>{

                        console.log(err)
                    })

                }

                $('#exampleModal').modal('show')

            },
            redo(){
                axios.baseURL='http://localhost:8080';
                // axios.defaults.withCredentials=true;
                axios.get(`/shopcar/info/${this.r.pageNum}/${this.r.pageSize}`).then(res=>{
                    this.r=res.data.info.data;
                }).catch(err=>{

                    console.log(err)
                })
            },


        }
    })




</script>

</html>