<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/css/bootstrap-grid.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap-reboot.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.css}">
    <link rel="stylesheet" th:href="@{/css/dialog.css}">
    <script th:src="@{/js/jquery.3.2.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.js}"></script>
    <script th:src="@{/js/vue.js}"></script>
    <script th:src="@{/js/qs.js}"></script>
    <script th:src="@{/js/axios.min.js}"></script>
    <script th:src="@{/js/validator.min.js}"></script>
    <script th:src="@{/js/holder.js}"></script>
    <script th:src="@{/js/dialog.js}"></script>
    <style>
        body{
            margin-top: 70px;
        }
    </style>
</head>
<body>

<div class="container-fluid" id="bookDes">
    <div th:replace="~{common/common :: headNav}"></div>
    <div class="row mt-2 mb-2">
        <div th:replace="~{common/common :: leftNav}"></div>
        <div class="col-lg-10">

            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <i class="fa fa-plus"></i>添加闲置图片
                </div>
                <div class="col-lg-4 offset-lg-6 col-md-6 offset-md-4 col-sm-6">
                    <button class="btn btn-info" data-toggle="collapse" data-target="#colA" aria-expanded="true">隐藏</button>
                </div>
            </div>
            <div class="row">
                <div id="colA" class="collapse show"  data-parent="#accordion">
                    <form>
                        <div class="form-row ml-2">
                            <div class="form-group row mr-1">
                                <label for="bookID" class="col-sm-3 col-lg-4 col-form-label">物品id</label>
                                <div class="col-sm-9 col-lg-8">
                                    <input v-model="goodid" id="bookID" type="text" class="form-control"  placeholder="物品id">
                                    <input type="hidden" th:value="${goodsId==null?1:goodsId}" id="goodsId">
                                </div>
                            </div>

                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">上传图片</span>
                            </div>
                            <div class="custom-file">
                                <input multiple @change="fileChange" accept="image/*" id="bookPic" type="file" class="custom-file-input">
                                <label class="custom-file-label" for="bookPic">选择图像</label>
                            </div>
                        </div>
                    </form>
                    <button @click="search" class="btn btn-info btn-sm mr-2" type="button">查询</button>
                    <button @click="upload" class="btn btn-info btn-sm" type="button">上传</button>

                </div>
            </div>
            <div class="row" v-for="item in imagePaths">
                <div class="col-3">
                    <img width="100" height="100" :src="item.desInfo" alt="">
                </div>
                <div class="col-3">
                    <img width="100" height="100" :src="item.desMdPath" alt="">
                </div>
                <div class="col-2">
                    <img width="100" height="100" :src="item.desSmPath" alt="">
                </div>
                <div class="col-2">
                    <img width="100" height="100" :src="item.desSmPath" alt="">
                </div>
                <div class="col-2">
                    <button @click="del(item)" class="btn btn-warning">删除</button>
                </div>
            </div>
        </div>
    </div>
</div>


</body>

<script>
    let vm = new Vue({

        el: '#bookDes',
        created(){

            let goodsId = document.querySelector('#goodsId').value

            if(goodsId==='1'){

            }else{
                this.goodid=goodsId;
                this.find(goodsId)
            }
        },
        data: {
            goodid: '',
            files: '',
            imagePaths: [],
        },
        methods: {
            search() {
              this.find(this.goodid)
            },
            find(goodsId){
                axios.get('http://localhost:8080/goodsDes/search/' + goodsId)
                    .then(res => {

                        let {code,message,info} = res.data;

                        if(code==='-1'){

                            alert(message)

                        }else {

                            this.imagePaths=info.BookDesInfo;

                        }
                    }).catch(err => {

                    alert("服务器错误")
                });
            },
            fileChange(e) {

                if(e.target.files.length+this.imagePaths.length>4){

                    alert('最多上传4张图片')

                }else{

                    this.files = e.target.files
                }

            },
            upload() {

                if (this.goodid===''){
                    alert('id不能为空')
                    return
                }
                if(this.files===''){
                    alert('请选择一张图片')
                    return
                }
                let fd= new FormData();

                for(let i = 0 ; i<this.files.length;i++){

                    fd.append('files',this.files[i])
                }
                axios.post('http://localhost:8080/goodsDes/addPic/'+this.goodid,fd,{
                    headers:{
                        'Content-Type':'multipart/form-data'
                    }

                }).then(res=>{


                    let {code,message,info} = res.data;

                    this.search()

                    alert(message)

                    console.log(res.data)

                }).catch(err=>{

                    alert("服务器错误");

                });




            },
            del(item){

                axios.get('http://localhost:8080/goodsDes/del/'+ item.desId)
                    .then(res=>{

                        if(res.data.code==='1'){

                            this.search();
                        }else{

                            alert('请求失败')
                        }


                    }).catch(err=>{

                        alert('服务器错误')
                })

                console.log(item)


            }



        }


    });



</script>
</html>