<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/css/bootstrap-grid.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap-reboot.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.css}">

    <script th:src="@{/js/bootstrap.js}"></script>
    <script th:src="@{/js/jquery.3.2.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.js}"></script>

    <script th:src="@{/js/vue.js}"></script>
    <script th:src="@{/js/qs.js}"></script>
    <script th:src="@{/js/axios.min.js}"></script>
    <script th:src="@{/js/validator.min.js}"></script>
    <style>
        body{
            margin-top: 70px;
            background-color: #b3d7ff;
        }
    </style>
</head>
<body>
    <div class="container-fluid" id="UserInfo">
        <div th:replace="~{common/common :: headNav}"></div>
        <div class="row mt-2 mb-2">

            <div th:replace="~{common/common :: leftNav}"></div>
            <div class="col-lg-10">
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-2">
                        <i class="fa fa-user"></i>用户管理
                    </div>
                    <div class="col-lg-4 offset-lg-6 col-md-6 offset-md-4 col-sm-6">
                        <a href="#" class="btn btn-outline-info">查询</a>
                        <a href="#" class="btn btn-outline-info">新增</a>
                        <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           <i class="fa fa-bars"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item text-info" href="#">导出</a>
                            <a class="dropdown-item text-info" href="#">导入</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <table class="table table-hover table-responsive-sm">
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>学号</th>
                                <th>昵称</th>
                                <th>电话</th>
                                <th>邮箱</th>
                                <th>性别</th>
                                <th>密码</th>
                                <th>注册时间</th>
                                <th>上次登录时间</th>
                                <th>是否在线</th>
                                <th>注册ip</th>
                                <th>登录ip</th>
                                <th>用户状态</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="row">

                    <div class="col-lg-8 offset-lg-2">
                        <!--分页-->
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>
<script>


    window.onload=function(){

        let vm = new Vue({

            el:'#UserInfo',

            created(){

                console.log("aaa")

            },
            mounted(){

                console.log('bbbb')

            },


            data:{

            },
            methods:{


            },
            computed:{


            }

        })
    }



</script>
</html>