<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/css/bootstrap-grid.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap-reboot.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.css}">

    <link rel="stylesheet" th:href="@{/css/dialog.css}">
    <script th:src="@{/js/jquery.3.2.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.js}"></script>
    <script th:src="@{/js/vue.js}"></script>
    <script th:src="@{/js/qs.js}"></script>
    <script th:src="@{/js/axios.min.js}"></script>
    <script th:src="@{/js/validator.min.js}"></script>
    <!--<script th:src="@{/js/zepto.min.js}"></script>-->
    <script th:src="@{/js/dialog.js}"></script>
    <style>
        body{
            margin-top: 70px;
            background-color: #b3d7ff;
        }
    </style>
</head>
<body>
    <div class="container-fluid" id="UserInfo">
        <div th:replace="~{common/common :: headNav}"></div>
        <div class="row mt-2 mb-2">
            <div th:replace="~{common/common :: leftNav}"></div>
            <div class="col-lg-10">
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-2">
                        <i class="fa fa-user"></i>用户管理
                    </div>
                    <div class="col-lg-4 offset-lg-6 col-md-6 offset-md-4 col-sm-6">
                        <a href="#" class="btn btn-outline-info">查询</a>
                        <a th:href="@{/user/addview}" class="btn btn-outline-info">新增</a>
                        <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           <i class="fa fa-bars"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item text-info" href="#">导出</a>
                            <a class="dropdown-item text-info" href="#">导入</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <table class="table table-hover table-responsive-sm">
                        <thead>
                            <tr>
                                <!--<th>id</th>-->
                                <th>学号</th>
                                <th>昵称</th>
                                <th>电话</th>
                                <th>邮箱</th>
                                <!--<th>性别</th>-->
                                <!--<th>密码</th>-->
                                <!--<th>注册时间</th>-->
                                <!--<th>上次登录时间</th>-->
                                <th>是否在线</th>
                                <!--<th>注册ip</th>-->
                                <th>登录ip</th>
                                <th>用户状态</th>
                                <!--<th>学院编号</th>-->
                                <th>学院名字</th>
<!--                                <th>学院状态</th>-->
                                <th>详情</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr v-for="(item,index) in a.list" :key="index">
                                <td>{{item.userNum}}</td>
                                <td>{{item.userName}}</td>
                                <td>{{item.userPhone}}</td>
                                <td>{{item.userEmail}}</td>
                                <td>{{item.userIsactive}}</td>
                                <td>{{item.userLoginip}}</td>
                                <td>{{item.userState | state}}</td>
                                <td>{{item.collegeName}}</td>
<!--                                <td>{{item.collegeState | state}}</td>-->
                                <th><button @click="info(item.userNum)" class="btn btn-info">查看</button></th>
                                <td>
                                    <button class="btn btn-warning" @click="restore(item)">恢复用户</button>
                                    <a @click.prevent="deleteUser(item.userNum)" href="#" class="btn btn-danger" title="删除用户">删除用户</a>
                                    <a @click.prevent="forbidUser(item.userNum)" href="#" class="btn btn-danger" title="禁用用户">禁用用户</a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>

                <div class="row">

                    <div class="col-lg-2">
                        <p>当前页:{{currentPage}}----总数:{{a.total}}</p>
                    </div>
                    <div class="col-lg-8 offset-lg-2">
                        <!--分页-->
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li v-if="a.hasPreviousPage" class="page-item">
                                    <a @click.prevent="previous" class="page-link" href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">上一页</span>
                                    </a>
                                </li>
                                <li  v-for="n in a.navigatepageNums" class="page-item"><a @click.prevent="page(n)" class="page-link" href="#">{{n}}</a></li>

                                <li v-if="a.hasNextPage" class="page-item">
                                    <a  @click.prevent="next" class="page-link" href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">下一页</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>

                </div>
            </div>
        </div>

        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">用户详情</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="panel panel-default">
                            <!-- Default panel contents -->
                            <div class="panel-heading"></div>
                            <div class="panel-body">
                                <ul class="list-group">
                                    <li class="list-group-item">用户id:{{b.userId}}</li>
                                    <li class="list-group-item">用户学号:{{b.userNum}}</li>
                                    <li class="list-group-item">用户名:{{b.userName}}</li>
                                    <li class="list-group-item">用户性别:{{b.userGender | gender}}</li>
                                    <li class="list-group-item">用户电话:{{b.userPhone}}</li>
                                    <li class="list-group-item">用户邮箱:{{b.userEmail}}</li>
                                    <li class="list-group-item">用户密码:{{b.userPwd}}</li>
                                    <li class="list-group-item">用户状态:{{b.userState | state}}</li>
                                    <li class="list-group-item">用户登录ip:{{b.userLoginip}}</li>
                                    <li class="list-group-item">用户注册ip:{{b.userRegip}}</li>
                                    <li class="list-group-item">用户注册时间:{{b.userRegtime}}</li>
                                    <li class="list-group-item">用户上次登录时间:{{b.userLogintime}}</li>
<!--                                    <li class="list-group-item">学院id:{{b.collegeId}}</li>-->
<!--                                    <li class="list-group-item">学院编号:{{b.collegeNum}}</li>-->
                                    <li class="list-group-item">学院名:{{b.collegeName}}</li>
<!--                                    <li class="list-group-item">学院状态:{{b.collegeState | state}}</li>-->
                                    <li class="list-group-item">学院描述:{{b.collegeDes}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
<script>

    Vue.filter('state', function (value) {

        try {
            if(value===null||value==='undefined'){

                return '未知';
            }
            let state= parseInt(value)
            switch (state) {
                case 0:
                    return '禁用';
                case 1:
                    return '正常';
                case -1:
                    return '删除';
                default:
                    return '未知';

            }
        }catch (e) {

            return '未知';
        }

    })

    Vue.filter('gender',function (value) {
        try {
            let gender= parseInt(value)
            switch (gender) {
                case 0:
                    return '女';
                case 1:
                    return '男';
                default:
                    return '未知';
            }
        }
        catch (e) {
            return '未知';
        }
    })

    let vm = new Vue({
            el:'#UserInfo',
            created(){

                this.init();
            },
            mounted(){

            },
            data:{
                a:{},
                currentPage:1,
                b:{}

            },
            methods:{
                init(){
                    axios.baseURL='http://localhost:8080';
                    axios.get('/user/users/1/6').then(res=>{

                        this.a=res.data.info.data;

                    }).catch(err=>{

                        console.log(err)

                    })
                },
                page(n){

                    if(n!==this.a.pageNum){
                        let infoDialog = $.dialog({
                            type : 'info',
                            infoText : '加载中…',
                            infoIcon : '/images/icon/loading.gif'
                        });

                        axios.get(`/user/users/${n}/${this.a.pageSize}`).then(res=>{

                            this.a=res.data.info.data;
                            this.currentPage=n;
                            infoDialog.dialog.update({
                                autoClose : 1500,
                                infoText : '请求成功',
                                infoIcon : '/images/icon/success.png'
                            });

                        }).catch(err=>{
                            infoDialog.dialog.update({
                                autoClose : 1500,
                                infoText : '请求失败',
                                infoIcon : '/images/icon/fail.png'
                            });
                            console.log(err)
                        })
                    }
                },
                previous(){
                    if( this.a.hasPreviousPage){
                        this.page(this.a.prePage)
                    }
                },
                next(){
                    if( this.a.hasNextPage){
                        this.page(this.a.nextPage)
                    }
                },
                info(userNum){

                    this.b =this.a.list.filter((item,index)=>item.userNum===userNum)[0]
                    $('#exampleModalCenter').modal({
                        keyboard: false,
                        //backdrop:false,
                    })
                },
                checkState(userNum,method){
                    let b=this.a.list.filter((item,index)=>item.userNum===userNum)[0];
                    let infoDialog = $.dialog({
                        type : 'info',
                        infoText : '加载中…',
                        infoIcon : '/images/icon/loading.gif'
                    });
                    axios.get(`/user/${method}/${b.userId}/`).then(res=>{

                        let message=res.data.message;
                        if(res.data.code==='1'){

                            if(method==='forbid'){
                                b.userState= 0;
                            }else if (method==='delete') {
                                b.userState=-1;
                            }else{
                                b.userState=1;
                            }

                            infoDialog.dialog.update({
                                autoClose : 1500,
                                infoText : message,
                                infoIcon : '/images/icon/success.png'
                            });

                        }else{
                            infoDialog.dialog.update({
                                autoClose : 1500,
                                infoText : message,
                                infoIcon : '/images/icon/fail.png'
                            });
                        }
                    }).catch(err=>{
                        infoDialog.dialog.update({
                            autoClose : 1500,
                            infoText : message,
                            infoIcon : '/images/icon/fail.png'
                        });

                    })

                },
                forbidUser(userNum){
                    this.checkState(userNum,'forbid');
                },
                deleteUser(userNum){
                    this.checkState(userNum,'delete');
                },
                restore(item){

                    let ok = window.confirm('是否恢复')
                    if(ok){

                        axios.get(`/user/restore/${item.userId}`).then(res=>{

                            let {code,message} = res.data

                            if(code==='1'){
                                alert(message)
                                this.init()
                            }else{
                                alert(message)
                            }
                        }).catch(err=>{

                            console.log(err)
                            alert("服务繁忙！！！")
                        })

                    }
                }


            },
            computed:{


            }

        })




</script>
</html>