<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shgoods.goods.mapper.ShBookDesMapper">
    <resultMap id="info" type="com.shgoods.goods.pojo.ShBookDescription">
        <id property="desId" column="desId"/>
        <result property="desInfo" column="desInfo"/>
        <result property="desMdPath" column="desMdPath"/>
        <result property="desSmPath" column="desSmPath"/>
        <result property="desXsPath" column="desXsPath"/>
        <result property="desState" column="desState"/>
        <result property="goodsId.bookId" column="desGid"/>
        <result property="desUpdateTime" column="desUpdateTime"/>
        <result property="desCreationTime" column="desCreationTime"/>

        <result property="goodsId.bookId" column="bookId"/>
        <result property="goodsId.bookName" column="bookName"/>
        <result property="goodsId.bookSellingPrice" column="bookSellingPrice"/>
        <result property="goodsId.bookIsbn" column="bookIsbn"/>


    </resultMap>
    <insert id="add">

      <selectKey keyColumn="des_id" keyProperty="desId" order="BEFORE" resultType="string">
          SELECT UUID_SHORT() as des_id
      </selectKey>
      INSERT INTO sh_bookimagedescription ( des_id, des_gid, des_info, des_mdPath,
      des_xsPath, des_smPath, des_state, des_updateTime, des_creationTime )
      VALUES
	  (#{desId},#{goodsId.bookId},#{desInfo},#{desMdPath},#{desXsPath}, #{desSmPath},

	  #{desState},NOW(),NOW())

    </insert>

    <select id="search" resultMap="info">
        SELECT
            des_id desId,
            des_gid desGid,
            des_info desInfo,
            des_mdPath desMdpath,
            des_smPath desSmPath,
            des_xsPath desXsPath,
            des_state desState,
            des_updateTime desUpdateTime,
            des_creationTime desCreationTime
        FROM
	        sh_bookimagedescription

	    WHERE
	        des_gid =#{bookId}
    </select>

    <delete id="del">
        DELETE FROM sh_bookimagedescription
        <where>
            des_id=#{desId}
        </where>
    </delete>

    <select id="selectByClass" resultMap="info">

        SELECT
            book_id bookId,
            book_name bookName,
            book_isbn bookIsbn,
            book_creationTime bookCreationTime,
            book_sellingPrice bookSellingPrice,
            sc.class_id,
            si.des_xsPath desXsPath,
            si.des_info desInfo,
            si.des_id desId
        FROM
            sh_book sb,
            sh_class sc,
            sh_bookimagedescription si
        WHERE
            sb.book_cid = sc.class_id
            AND sb.book_id = si.des_gid
            AND sb.book_state = 1
            AND sc.class_id = #{classId}
            GROUP BY
	          sb.book_id
    </select>

    <select id="all" resultMap="info">
            SELECT
                des_id desId,
                des_gid desGid,
                des_info desInfo,
                des_mdPath desMdpath,
                des_smPath desSmPath,
                des_xsPath desXsPath,
                des_state desState,
                sb.book_id bookId,
                sb.book_name bookName,
                sb.book_sellingPrice bookSellingPrice,
                sb.book_isbn bookIsbn
            FROM
                sh_bookimagedescription AS des
                RIGHT JOIN sh_book AS sb ON des.des_gid = sb.book_id
            WHERE
                sb.book_state = 1
            GROUP BY
                sb.book_id

    </select>
</mapper>