<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shgoods.goods.mapper.ShBookMapper">
    <resultMap id="bookInfo" type="com.shgoods.goods.pojo.ShBook">
        <id property="bookId" column="book_id"/>
        <result property="bookIsbn" column="book_isbn"/>
        <result property="bookName" column="book_name"/>
        <result property="bookDes" column="book_des"/>
        <result property="bookCid" column="book_cid"/>
        <result property="bookCount" column="book_count"/>
        <result property="bookState" column="book_state"/>
        <result property="bookPublish" column="book_publish"/>
        <result property="bookAuthor" column="book_author"/>
        <result property="bookOriginalPrice" column="book_originalPrice"/>
        <result property="bookSellingPrice" column="book_sellingPrice"/>
        <result property="bookUpdateTime" column="book_updateTime"/>
        <result property="bookCreationTime" column="book_creationTime"/>
        <result property="bookNao" column="book_nao"/>

        <result property="bookCid" column="book_cid"/>
        <result property="shUser.userId" column="userId"/>
        <result property="shUser.userName" column="userName"/>
        <result property="shUser.userNum" column="userNum"/>
        <result property="shUser.userPhone" column="userPhone"/>


    </resultMap>
    <resultMap id="checkAttrs" type="com.shgoods.goods.pojo.ShBook">
        <id property="bookId" column="book_id"/>
        <result property="bookIsbn" column="book_isbn"/>
        <result property="bookName" column="book_name"/>
    </resultMap>

    <resultMap id="goodsVo" type="com.shgoods.goods.pojo.ShBookDescription">

        <result property="goodsId.bookId" column="book_id"/>
        <result property="goodsId.bookIsbn" column="book_isbn"/>
        <result property="goodsId.bookName" column="book_name"/>
        <result property="goodsId.bookDes" column="book_des"/>

        <result property="desInfo" column="desInfo"/>
        <result property="desXsPath" column="desXsPath"/>


    </resultMap>


    <insert id="addBook">
        <selectKey order="BEFORE" keyProperty="bookId" keyColumn="bookId" resultType="string">
            SELECT UUID_SHORT( ) as bookId
        </selectKey>

        INSERT INTO sh_book ( book_id, book_isbn, book_name,
                        book_des, book_cid, book_count, book_state, book_publish,
                        book_author, book_originalPrice, book_sellingPrice,
                        book_updateTime, book_creationTime,book_nao,book_uid )
        VALUES
        (#{bookId},#{bookIsbn},#{bookName},#{bookDes},#{bookCid},#{bookCount},
        0,#{bookPublish},#{bookAuthor},#{bookOriginalPrice},#{bookSellingPrice},
        NOW(),NOW(),#{bookNao},#{shUser.userId})


    </insert>

    <select id="all" resultMap="bookInfo">
        SELECT * FROM sh_book

    </select>

    <select id="hasBook" resultMap="checkAttrs">

        SELECT book_id,book_isbn,book_name
        FROM sh_book
        <where>
            book_id=#{bookId}
        </where>

    </select>
    <select id="checkISBN" resultMap="checkAttrs">
        SELECT book_id,book_isbn,book_name
        FROM sh_book
        <where>
            book_isbn=#{bookIsbn}
        </where>

    </select>

    <select id="selectByUser" resultMap="bookInfo">
      SELECT
        book_id,
        book_name,
        book_isbn,
        book_creationTime,
        book_state,
        su.user_id userId,
        su.user_num userNum,
        su.user_name userName,
        su.user_phone userPhone
    FROM
        sh_book AS sb,
        sh_user AS su
    WHERE
        sb.book_uid = su.user_id
        AND su.user_id = #{userId}
    </select>

    <delete id="del">
        DELETE FROM sh_book WHERE book_id=#{bookId}
    </delete>

    <select id="selectByClass" resultMap="bookInfo">
        SELECT
            book_id,
            book_name,
            book_isbn,
            book_creationTime,
            sc.class_id,
            si.des_xsPath,
            si.des_info,
            si.des_id
        FROM
            sh_book sb,
            sh_class sc,
            sh_bookimagedescription si
        WHERE
            sb.book_cid = sc.class_id
            AND sb.book_id = si.des_gid
            AND sb.book_state = 1
            AND sc.class_id = #{classId}
            GROUP BY
	          sb.book_id
    </select>

    <select id="selectById" resultMap="bookInfo">
        SELECT
            book_id,
            book_name,
            book_isbn,
            book_creationTime,
            book_sellingPrice,
            book_author,
            book_publish,
            book_des,
            book_state
        FROM
            sh_book sb
        WHERE
            book_id=#{bookId}
    </select>
    <select id="selectWithUser" resultMap="bookInfo">
        SELECT
            book_id,
            book_name,
            book_isbn,
            book_creationTime,
            book_count,
            book_author,
            book_publish,
            book_des,
            book_sellingPrice,
            book_originalPrice,
            book_nao,
            su.user_id userId,
            su.user_num userNum,
            su.user_name userName,
            su.user_phone userPhone
        FROM
            sh_book AS sb,
            sh_user AS su
        WHERE
            sb.book_uid = su.user_id
            AND sb.book_state = 1
            AND sb.book_id = #{bookId}
    </select>


    <update id="updateState">
        UPDATE  sh_book SET book_state =#{bookState} WHERE book_id = #{bookId}
    </update>

    <select id="selectWithAllVar" resultMap="bookInfo">

        SELECT * FROM sh_book WHERE book_id=#{bookId}

    </select>
    <update id="updateBook">
        UPDATE sh_book
        SET
            book_name=#{bookName},
            book_isbn=#{bookIsbn},
            book_nao=#{bookNao},
            book_publish=#{bookPublish},
            book_author=#{bookAuthor},
            book_count=#{bookCount},
            book_originalPrice=#{bookOriginalPrice},
            book_sellingPrice=#{bookSellingPrice},
            book_cid=#{bookCid},
            book_des=#{bookDes},
            book_updateTime=NOW(),
            book_state = 0
        WHERE
            book_id=#{bookId}
    </update>

</mapper>