<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shgoods.goods.mapper.ShGoodsMapper">

    <resultMap id="info" type="com.shgoods.goods.pojo.ShGoods">
        <id property="goodsId" column="goodsId"/>
        <result property="goodsTitle" column="goodsTitle"/>
        <result property="goodsDes" column="goodsDes"/>
        <result property="goodsCount" column="goodsCount"/>
        <result property="goodsNao" column="goodsNao"/>
        <result property="goodsOriginalPrice" column="goodsOriginalPrice"/>
        <result property="goodsReleaseTime" column="goodsReleaseTime"/>
        <result property="goodsSellingPrice" column="goodsSellingPrice"/>
        <result property="goodsUpdateTime" column="goodsUpdateTime"/>
        <result property="goodsState" column="goodsState"/>


        <result property="shUser.userId" column="userId"/>
        <result property="shUser.userName" column="userName"/>
        <result property="shUser.userNum" column="userNum"/>
        <result property="shUser.userPhone" column="userPhone"/>


    </resultMap>
    <resultMap id="goodsinfo" type="com.shgoods.goods.pojo.ShGoodsDescription">
        <id property="desId" column="desId"/>
        <result property="goodsId.goodsId" column="goodsId"/>
        <result property="goodsId.goodsTitle" column="goodsTitle"/>
        <result property="goodsId.goodsDes" column="goodsDes"/>


        <result property="desInfo" column="desInfo"/>
        <result property="desXsPath" column="desXsPath"/>

    </resultMap>



    <insert id="add">
        <selectKey order="BEFORE" keyProperty="goodsId" keyColumn="goods_id" resultType="string">
            SELECT UUID_SHORT() as goods_id
        </selectKey>
        INSERT INTO sh_goods ( goods_id, goods_des, goods_count, goods_state,
                            goods_title, goods_cid, goods_sellingPrice,
                            goods_originalPrice, goods_updateTime,
                             goods_releaseTime,goods_uid,goods_nao )

        VALUES(#{goodsId},#{goodsDes},#{goodsCount},0,#{goodsTitle},
        #{goodsCid1},#{goodsSellingPrice},#{goodsOriginalPrice},NOW(),
        NOW(),#{shUser.userId},#{goodsNao})


    </insert>
    <select id="has" resultMap="info">
            SELECT
              goods_id goodsId,
              goods_title goodsTitle
            FROM
              sh_goods
            WHERE
              goods_id=#{goodsId}

    </select>
    <select id="all" resultMap="info">
        SELECT
            goods_id goodsId,
            goods_title goodsTitle,
            goods_count goodsCount,
            goods_state goodsState,
            goods_des goodsDes,
            goods_nao goodsNao,
            goods_sellingPrice goodsSellingPrice,
            goods_originalPrice goodsOriginalPrice
        FROM
            sh_goods
    </select>

    <select id="selectByUser" resultMap="info">
        SELECT
            goods_id goodsId,
            goods_title goodsTitle,
            goods_des goodsDes,
            goods_ReleaseTime goodsReleaseTime,
            goods_state goodsState,
            su.user_id userId,
            su.user_num userNum,
            su.user_name userName,
            su.user_phone userPhone
        FROM
            sh_goods sg,
            sh_user su
        WHERE
            sg.goods_uid = su.user_id

            AND su.user_id = #{userId}

    </select>
    <delete id="del">
         DELETE FROM sh_goods WHERE goods_id=#{goodsId}
    </delete>
    <select id="selectByClass" resultMap="goodsinfo">
        SELECT
            goods_id goodsId,
            goods_title goodsTitle,
            goods_des goodsDes,
            sc.class_id ,
            si.des_id desId,
            si.des_info desInfo,
            si.des_xsPath desXsPath
        FROM
            sh_goods sg,
            sh_class sc,
            sh_goodsimagedescription si
        WHERE
            sg.goods_cid = sc.class_id
            AND sg.goods_state = 1
            AND sc.class_id = #{classId}
            AND sg.goods_id = si.des_gid
        GROUP BY
            sg.goods_id
    </select>

    <select id="selectById" resultMap="info">
         SELECT
            goods_id goodsId,
            goods_title goodsTitle,
            goods_des goodsDes,
            goods_sellingPrice goodsSellingPrice
        FROM
            sh_goods sg
        WHERE
             goods_id=#{ goodsId}
    </select>
    <select id="selectWithUser" resultMap="info">
      SELECT
        goods_id goodsId,
        goods_title goodsTitle,
        goods_des goodsDes,
        goods_count goodsCount,
        goods_sellingPrice goodsSellingPrice,
        goods_originalPrice goodsOriginalPrice,
        goods_nao goodsNao,
        su.user_id userId,
        su.user_num userNum,
        su.user_name userName,
        su.user_phone userPhone
    FROM
        sh_goods sg,
        sh_user su
    WHERE
        sg.goods_uid = su.user_id
        AND sg.goods_state = 1
        AND sg.goods_id=#{goodsId}

    </select>

    <update id="updateState">
        UPDATE sh_goods SET goods_state=#{goodsState} WHERE goods_id=#{goodsId}
    </update>

    <select id="selectWithAllVar" resultMap="info">
        SELECT
            goods_id goodsId,
            goods_title goodsTitle,
            goods_count goodsCount,
            goods_state goodsState,
            goods_des goodsDes,
            goods_nao goodsNao,
            goods_cid goodsCid1,
            goods_sellingPrice goodsSellingPrice,
            goods_originalPrice goodsOriginalPrice
        FROM
            sh_goods
        WHERE
            goods_id =#{goodsId}
    </select>

    <update id="updateGoods">
        UPDATE sh_goods
        SET goods_nao =#{goodsNao},
            goods_title=#{goodsTitle},
            goods_des=#{goodsDes},
            goods_cid = #{goodsCid1},
            goods_count=#{goodsCount},
            goods_state = 0,
            goods_originalPrice =#{goodsOriginalPrice},
            goods_sellingPrice =#{ goodsSellingPrice},
            goods_updateTime = NOW( )
        WHERE
	        goods_id=#{goodsId}
    </update>
</mapper>