<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shgoods.goods.mapper.ShGoodsMapper">

    <resultMap id="info" type="com.shgoods.goods.pojo.ShGoods">
        <id property="goodsId" column="goodsId"/>
        <result property="goodsTitle" column="goodsTitle"/>
        <result property="goodsDes" column="goodsDes"/>
        <result property="goodsCount" column="goodsCount"/>
        <result property="goodsNao" column="goodsNao"/>
        <result property="goodsOriginalPrice" column="goodsOriginalPrice"/>
        <result property="goodsReleaseTime" column="goodsReleaseTime"/>
        <result property="goodsSellingPrice" column="goodsSellingPrice"/>
        <result property="goodsUpdateTime" column="goodsUpdateTime"/>
        <result property="goodsState" column=""/>


        <result property="shUser.userId" column="userId"/>
        <result property="shUser.userName" column="userName"/>
        <result property="shUser.userNum" column="userNum"/>
        <result property="shUser.userPhone" column="userPhone"/>


    </resultMap>



    <insert id="add">
        <selectKey order="BEFORE" keyProperty="goodsId" keyColumn="goods_id" resultType="string">
            SELECT UUID_SHORT() as goods_id
        </selectKey>
        INSERT INTO sh_goods ( goods_id, goods_des, goods_count, goods_state,
                            goods_title, goods_cid, goods_sellingPrice,
                            goods_originalPrice, goods_updateTime, goods_releaseTime )

        VALUES(#{goodsId},#{goodsDes},#{goodsCount},1,#{goodsTitle},
        #{goodsCid1},#{goodsSellingPrice},#{goodsOriginalPrice},NOW(),NOW())


    </insert>
    <select id="has" resultMap="info">
            SELECT
              goods_id goodsId,
              goods_title goodsTitle
            FROM
              sh_goods
            WHERE
              goods_id=#{goodsId}

    </select>
    <select id="all" resultMap="info">
        SELECT
              goods_id goodsId,
              goods_title goodsTitle,
              goods_count goodsCount,
              goods_state goodsState,
              goods_des gooodsDes,
              goods_sellingPrice goodsSellingPrice,
              goods_originalPrice goodsOriginalPrice

        FROM
              sh_goods


    </select>

    <select id="selectByUser" resultMap="info">
        SELECT
            goods_id goodsId,
            goods_title goodsTitle,
            goods_des goodsDes,
            su.user_id userId,
            su.user_num userNum,
            su.user_name userName,
            su.user_phone userPhone
        FROM
            sh_goods sg,
            sh_user su
        WHERE
            sg.goods_uid = su.user_id
            AND sg.goods_state =1
            AND su.user_id = #{userId}

    </select>
    <delete id="del">
         DELETE FROM sh_goods WHERE goods_id=#{goodsId}


    </delete>
</mapper>