<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shgoods.goods.mapper.ShGoodsDesMapper">

    <resultMap id="info" type="com.shgoods.goods.pojo.ShGoodsDescription">
        <id property="desId" column="desId"/>
        <result property="desInfo" column="desInfo"/>
        <result property="desMdPath" column="desMdPath"/>
        <result property="desSmPath" column="desSmPath"/>
        <result property="desXsPath" column="desXsPath"/>
        <result property="desState" column="desState"/>
        <result property="goodsId.goodsId" column="desGid"/>
        <result property="desUpdateTime" column="desUpdateTime"/>
        <result property="desCreationTime" column="desCreationTime"/>

        <result property="goodsId.goodsSellingPrice" column="goodsSellingPrice"/>
        <result property="goodsId.goodsTitle" column="goodsTitle"/>
        <result property="goodsId.goodsId" column="goodsId"/>

    </resultMap>
    <select id="search" resultMap="info">
        SELECT
            des_id desId,
            des_gid desGid,
            des_info desInfo,
            des_mdPath desMdpath,
            des_smPath desSmPath,
            des_xsPath desXsPath,
            des_state desState,
            des_updateTime desUpdateTime,
            des_creationTime desCreationTime
        FROM
	        sh_goodsimagedescription

	    WHERE
	        des_gid =#{goodsId}
    </select>

    <insert id="add">

        <selectKey keyColumn="des_id" keyProperty="desId" order="BEFORE" resultType="string">
            SELECT UUID_SHORT() as des_id
        </selectKey>
        INSERT INTO sh_goodsimagedescription ( des_id, des_gid, des_info, des_mdPath,
        des_xsPath, des_smPath, des_state, des_updateTime, des_creationTime )
        VALUES
        (#{desId},#{goodsId.goodsId},#{desInfo},#{desMdPath},#{desXsPath}, #{desSmPath},

        #{desState},NOW(),NOW())

    </insert>

    <select id="selectByClass" resultMap="info">

        SELECT
            goods_id goodsId,
            goods_title goodsTitle,
            goods_des goodsDes,
            sc.class_id ,
            si.des_id desId,
            si.des_info desInfo,
            si.des_xsPath desXsPath
        FROM
            sh_goods sg,
            sh_class sc,
            sh_goodsimagedescription si
        WHERE
            sg.goods_cid = sc.class_id
            AND sg.goods_state = 1
            AND sc.class_id = #{classId}
            AND sg.goods_id = si.des_gid
        GROUP BY
            sg.goods_id


    </select>

    <select id="all" resultMap="info">
        SELECT
            des_id desId,
            des_gid desGid,
            des_info desInfo,
            des_mdPath desMdpath,
            des_smPath desSmPath,
            des_xsPath desXsPath,
            des_state desState,
            sg.goods_id goodsId,
            sg.goods_title goodsTitle,
            sg.goods_sellingPrice goodsSellingPrice
        FROM
	      sh_goods AS sg
	      LEFT JOIN sh_goodsimagedescription AS des ON des.des_gid = sg.goods_id
        WHERE
            sg.goods_state = 1
        GROUP BY
	        sg.goods_id
    </select>

    <delete id="del">
        DELETE FROM sh_goodsimagedescription
        <where>
            des_id=#{desId}
        </where>
    </delete>
</mapper>