<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shgoods.goods.mapper.ShOrderGoodsMapper">
    <resultMap id="info" type="com.shgoods.goods.pojo.ShGoodsOrder">
        <id column="goId" property="goId"/>
        <result column="goCount" property="goCount"/>
        <result column="goIdAll" property="goIdAll"/>
        <result column="goIsBook" property="goIsBook"/>
        <result column="goCreationTime" property="goCreationTime"/>
        <result column="goUpdateTime" property="goUpdateTime"/>
        <result column="orderId" property="goOid.orderId"/>
        <result column="goState" property="goState"/>
    </resultMap>
    <select id="selectByGoodsOrder" resultMap="info">
        SELECT
            go_id goId,
            go_gid goIdAll,
            go_oid orderId,
            go_count goCount,
            go_state goState,
            go_isBook goIsBook,
            go_creationTime goCreationTime
        FROM
	        sh_goods_order

	    WHERE
	        go_oid=#{goOid.orderId}
	        AND go_state=1
    </select>
    <insert id="shopCarToOrder">
        <selectKey  order="BEFORE" keyProperty="goId" keyColumn="goId" resultType="string">
            SELECT UUID_SHORT( ) as orderId
        </selectKey>

        INSERT INTO sh_goods_order ( go_id, go_gid,
                                    go_oid, go_count,
                                    go_state, go_isBook,
                                    go_updateTime, go_creationTime )
        VALUES
        (#{goId},#{goIdAll},#{goOid.orderId},#{goCount},0,#{goIsBook},NOW(),NOW())


    </insert>

    <select id="selectByUser" resultMap="info">
        SELECT
            go_id goId,
            go_gid goIdAll,
            go_oid orderId,
            go_count goCount,
            go_state goState,
            go_isBook goIsBook,
            go_creationTime goCreationTime
        FROM
            sh_goods_order sgo
        WHERE
            sgo.go_gid IN (
            SELECT
                book_id AS gid
            FROM
                sh_book sb,
                sh_user su
            WHERE
                sb.book_uid = su.user_id
                AND su.user_id = #{userId} UNION
            SELECT
                goods_id AS gid
            FROM
                sh_goods sg,
                sh_user su
            WHERE
                sg.goods_uid = su.user_id
                AND su.user_id = #{userId}
            )
            ORDER BY go_state
    </select>

    <update id="updateById">
        UPDATE sh_goods_order
        SET go_state = 1
        WHERE
            go_id=#{goId}
    </update>

</mapper>