<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shgoods.goods.mapper.ShShopCarMapper">

    <resultMap id="ShopCarInfo" type="com.shgoods.goods.pojo.ShShopCar">

        <id property="shopCarCount" column="shopCarCount"/>
        <result column="shopCarCreationTime" property="shopCarCreationTime"/>
        <result column="shopCarGid" property="shopCarGid"/>
        <result column="shopCarId" property="shopCarId"/>
        <result column="shopCarUid" property="shopCarUid"/>
        <result column="shopCarUpdateTime" property="shopCarUpdateTime"/>
        <result property="shopCarState" column="shopCarState"/>

        <result property="shUser.userId" column="userId"/>
        <result property="shUser.userName" column="userName"/>
        <result property="shUser.userNum" column="userNum"/>
        <result property="shUser.userPhone" column="userPhone"/>
    </resultMap>

    <select id="allShopCar" resultMap="ShopCarInfo">
          SELECT
                shopCar_id shopCarId,
                shopCar_uid shopCarUid,
                shopCar_gid shopCarGid,
                shopCar_count shopCarCount,
                shopCar_updateTime shopCarUpdateTime,
                shopCar_creationTime shopCarCreationTime,
                shopCar_state shopCarState
          FROM
	            sh_shopcar
    </select>

    <update id="del">
        UPDATE sh_shopcar
        SET shopCar_state =- 1
        WHERE
	      shopCar_id=#{shopCarId}
    </update>

    <select id="selectByUser" resultMap="ShopCarInfo">

    </select>

</mapper>